.container {
  padding-right: 16px;
  padding-left: 16px;
}

.grid {
  display: grid;
  grid-template-rows: auto 1fr auto
  gap: 20px;
}

.main-grid {
display: grid;
grid-template-columns: 1fr 2fr;
gap: 20px;
}

main {
background-color: blue
}
aside {
background-color: green
}
